version: '3.8'

services:
  api:
    build: .
    command: python api.py
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    restart: unless-stopped
    env_file: .env

  bot:
    build: .
    command: python main.py
    depends_on:
      - api
    volumes:
      - .:/app
    restart: unless-stopped
    env_file: .env
